<launch>

  <!-- RosBridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- Rosserial -->
  <!--
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" />
  -->

  <!-- Joy -->
  <!--
  <node pkg="joy" type="joy_node" name="joy_node" />
  -->

  <!-- Camera -->
  <node pkg="cv_camera" type="cv_camera_node" name="cv_camera" />
  <!--
  <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="/cv_camera/image_raw" />
  </node>
  -->

  <!-- Controller -->
  <node pkg="proto1_ros" type="all_controller.py" name="all_controller" output="screen"/>

</launch>
